/*********************everything schedule styling goes in here*********************/
.stageName {
  text-shadow: 2px 2px rgb(8, 8, 8);
}
.filteringButtons {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  box-shadow: 2px 2px 10px #f6a3e4ff;
  background-color: rgb(108, 193, 246, 0.9);
  font-size: 1.414rem;
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  align-items: center;
}
.filteringButtons:hover {
  transform: rotate(180deg);
  animation-name: color-change;
  animation-duration: 3s;
}
@keyframes color-change {
  from {
    background-color: rgb(112, 215, 255);
  }
  to {
    background-color: rgb(255, 71, 195);
  }
}

@media screen and (min-width: 750px) {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
#scheduleSection {
  padding-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url(assets/bg2.webp);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.schedule_h1 {
  font-family: var(--primary-font);
  text-align: center;
  color: white;
}

.container {
  padding: 0rem 3rem 3rem 3rem;
}

.scheduleListTable {
  border-collapse: separate;
  width: 100%;
}
.days_container {
  display: flex;
  flex-direction: row;
}
td {
  text-align: center;
  padding: 15px;
  width: 10%;
  box-shadow: 1px 1px 10px rgb(255, 71, 195);
  font-family: "Poppins", sans-serif;
}
.th {
  text-align: center;
  font-weight: 500;
  font-size: 1.414rem;
}
