/*********************everything schedule styling goes in here*********************/
.stageName {
  text-shadow: 2px 2px rgb(8, 8, 8);
}
.filteringButtons {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  box-shadow: 2px 2px 10px #f6a3e4ff;
  background-color: rgb(108, 193, 246, 0.9);
  font-size: 1.414rem;
  cursor: pointer;
}
.filteringButtons:hover {
  transform: rotate(180deg);
  animation-name: color-change;
  animation-duration: 3s;
}
@keyframes color-change {
  from {
    background-color: #6cc1f6ff;
  }
  to {
    background-color: #f6a3e4ff;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}
@media screen and (min-width: 750px) {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
#scheduleSection {
  padding-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(0deg, #f6a3e4ff, #6cc1f6ff);
  background-image: linear-gradient(90deg, #f6a3e4ff, #6cc1f6ff);
  background-image: linear-gradient(180deg, #f6a3e4ff, #6cc1f6ff);
  background-image: linear-gradient(270deg, #f6a3e4ff, #6cc1f6ff);
  background-image: linear-gradient(45deg, #f6a3e4ff, #6cc1f6ff);
  background-image: linear-gradient(135deg, #f6a3e4ff, #6cc1f6ff);
  background-image: linear-gradient(225deg, #f6a3e4ff, #6cc1f6ff);
  background-image: linear-gradient(315deg, #f6a3e4ff, #6cc1f6ff);
}

.schedule_h1 {
  font-family: var(--primary-font);
  text-align: center;
  color: white;
}

.container {
  /* display: flex; */
  padding: 2rem;
}

.scheduleListTable {
  border-collapse: separate;
  width: 100%;
}
.days_container {
  display: flex;
  flex-direction: row;
}
/* .heading {
  display: flex;
  flex-direction: column;
} */
td {
  text-align: center;
  padding: 15px;
  width: 10%;
  box-shadow: 1px 1px 10px rgb(255, 71, 195);
  font-family: "Poppins", sans-serif;
}
.th {
  text-align: center;
  font-weight: 500;
  font-size: 1.414rem;
}
