* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}
html {
  scroll-behavior: smooth;
}
:root {
  --primary-font: "Righteous", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  font-size: 16px;

  ---blue-backgroundcolor: rgb(108, 193, 246, 0.9);
  --blue-backgroundcolor2: rgb(112, 215, 255);

  --pink-fontcolor: rgb(255, 71, 195);
}
body {
  margin: 0;
  /* background-color: var(---blue-backgroundcolor); */
}
/******************general styling****************/
h1 {
  font-size: 5.653rem;
  margin: 0;
}
h2 {
  font-size: 3.998rem;
  font-family: var(--primary-font);
  color: var(--pink-fontcolor);
}
h3 {
  font-size: 2.827rem;
  font-family: var(--primary-font);
  color: white;
}
h4,
p {
  font-size: 1.999rem;
  /* if too big, use 1.414rem */
  font-family: var(--secondary-font);
  color: white;
}
a {
  text-decoration: none;
}
/*********************everything navigation styling goes in here**********************/
img {
  max-width: 100%;
  height: auto;
}
.navigation {
  background: transparent;
  background-color: rgb(108, 193, 246, 0.9);
  position: static;
  top: 0;
  right: 0%;
  left: 0%;
  width: 100%;
  padding: 2rem;
  box-shadow: 2px 2px 10px #6cc1f6;
  z-index: 9999;
}
nav li {
  list-style: none;
  display: inline;
  color: black;
  text-transform: uppercase;
}
.logoText {
  margin: 0;
  text-shadow: 2px 2px #b523e6;
}
nav li a {
  color: var(--dark-text-color);
  padding: 14px 16px;
  font-family: var(--secondary-font);
}

/* .buyTicketButton {
  background-color: var(--pink-fontcolor);
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 1px 1px 10px black;
  font-size: 1.414rem;
  font-family: var(--secondary-font);
  margin-left: 4rem;
  color: black;
  cursor: pointer;
} */

@media screen and (min-width: 601px) {
  .navigation {
    display: grid;
    grid-template-columns: 20% auto;
    padding: 1rem;
  }
  nav {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  nav ul {
    padding: 0;
    display: flex;
  }
  nav li {
    margin-top: 1rem;
    padding: 1rem;
  }
  nav li a {
    font-size: 1rem;
  }
  /* .buy-ticket-button {
    display: none;
  } */

  .logoText {
    margin-top: 1rem;
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }
}

/*mobile view*/
@media (max-width: 600px) {
  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
  }
  .navigation ul {
    display: flex;
    flex-direction: column;
    text-align: end;
  }
  /* .buyTicketButton {
    display: none;
  } */
  .logoText {
    margin-top: 1rem;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px white;
  }
}
@media screen and (min-width: 800px) {
  nav li a {
    padding: 1rem;
  }
  /* .buyTicketButton {
    display: none;
  } */
  .logoText {
    font-size: 3rem;
  }
}
/* motion one  */
.progress {
  position: fixed;
  z-index: 200;
  transform-origin: 5px top;
  height: 100vh;
  width: 10px;
  background-color: var(--pink-fontcolor);
}
/*********************everything footer styling goes in here*********************/
.logos {
  width: 10%;
}
.footer_content {
  padding: 2.5rem;
  line-height: 1.7rem;
  text-align: center;
  background-color: var(--blue-backgroundcolor2);
}
.headline_text {
  font-size: 1.999rem;
  color: black;
}
.footer_headlines > h2 {
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px white;
}
.footer_text {
  font-size: 1.414rem;
  color: black;
}
.contact,
.email,
.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 850px) {
  .footer_content {
    padding: 2rem;
    line-height: 1.5rem;
  }
  .logos {
    width: 10%;
  }
  .footer_text {
    font-size: 1.414rem;
  }
  .footer_information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .contact,
  .email,
  .socials {
    padding-right: 4rem;
  }
  .footer_headlines {
    display: flex;
    padding: 2rem;
    gap: 5rem;
    align-items: center;
  }
}
